*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    color: #151515;
    background-color: #FAFAFA;
}

/* header */
header a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

header {
    display: grid;
    grid-template-columns: 1fr max-content 4fr 1fr max-content;
    align-items: center;
}

#logo {
    grid-column: 1 / 2;
    padding-left: 1.25em;
}

#title {
    font-size: 1em;
    grid-column: 2 / 3;
    padding-left: 0.25em;
}

#home {
    font-size: 1em;
    grid-column: 4 / 5;
    padding: 0 2em;
}

#about {
    font-size: 1em;     
    grid-column: 5 / 6;
    padding-right: 1.25em;
}

/* sergio */
#section-1 {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 90%) 1fr;
}

#section-1 div {
    grid-column: 2 / 3;
}

#sergio {
    margin: 1em 0 0 .5em;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 50%;
}

#padding-txt {
    margin-top: 2em;
}

@media (min-width: 720px) {
    #padding-txt {
        padding: 0 3.5em 0 3.5em;
    }
    
    #sergio-div {
        display: grid;
        grid-template-columns: 200px minmax(200px, 90%);
        margin-top: 3em;
    }
}

/* Recent-posts */
#recent-txt {
    display: grid;
    text-align: center;
    padding-top: 3em;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
}

#recent-posts {
    width: 90%;
    max-width: 900px;
    padding-top: 1.5em;
    margin: 0 auto;
}

.section-img {
    width: 100%;
}

.article-date {
    font-weight: 400;
    font-size: 0.75em;
}

.article-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #141414;
}

.article-preview {
    font-size: 1rem;
    font-weight: 400;
    color: #505050;
}

/* Footer */
footer {
    display: grid;
    text-align: center;
    background-color: #202020;
    padding: 2em;
}

#footer-title {
    font-size: 0.75rem;
    font-weight: bold;
    color: #ECECEC;
}

#footer-cr {
    font-size: 0.75rem;
    font-weight: bold;
    color: #D7D7D7;
}